{% extends 'base.html.twig' %}

{% block title %}Liste des participants à un événement{% endblock %}



{% block body %}
{% block javascripts %}
        <script src="../../public/js/app.js" crossorigin="anonymous"></script>
        {% endblock %}

  <style>

footer 
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

  </style>


<form>
  <input id="impression" name="impression" type="button" onclick="imprimer_page()" value="Imprimer cette page" />
</form>

<h1>Evénements</h1>

			<h2>{{ event.titre }}</h2>
<table class="table table-striped">
<thead>
  <tr>
    <th>Prenom</th>
    <th>Nom</th>
    <th>Action</th>

  </tr>
   {% for ins  in event.inscription %}
    <tr>
      <td>{{ ins.user.prenom }}</td>
      <td>{{ ins.user.nom }}</td>
      <td><a href="{{ path('inscription_delete', {'inscription':ins.id}) }}" class="btn btn-danger">del</a></td>
     
    
      </td>
    </tr>
  {% endfor %}
</thead>
<tbody>

</tbody>
</table>

{% endblock %}