{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
  <style>
    .example-wrapper {
      margin: 1em auto;
      max-width: 800px;
      width: 95%;
      font: 18px/1.5 sans-serif;
    }
    .example-wrapper code {
      background: #F5F5F5;
      padding: 2px 6px;
    }
  </style>




    <div class="container col-6 mb-2">
      <div class="row ">
        <div class="card text-center ">
          <div class="card-body">
            <h5 class="card-title">BIENVENUE SUR LE SITE DU MOTOCROSS D'AURIBAIL</h5>
            <p class="card-text">veillez vous identifier ou creer un compte</p>
            <a href="#" class="btn btn-primary btn-lg">je m'identifie</a>
            <a href="../../controller/registrationcontroller.php" class="btn btn-primary btn-lg">je crée mon compte</a>
          </div>
          <div class="card-footer text-muted">
            <p class="card-text">prochain entrainement : le "date" pour la session adulte</p>
            <p class="card-text">prochain entrainement : le "date" pour la session junior</p>
          </div>
        </div>

      </div>
    </div>

{% endblock %}
